/* ==========================================
   BUTTONS
========================================== */

.btn{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    padding:12px 24px;

    border:none;

    border-radius:var(--radius-md);

    cursor:pointer;

    transition:.25s;

    font-weight:600;

}

.btn-primary{

    background:var(--primary-blue);

    color:white;

}

.btn-primary:hover{

    background:var(--deep-blue);

}

.btn-secondary{

    background:white;

    border:1px solid var(--border);

}

.btn-success{

    background:var(--success);

    color:white;

}

.btn-danger{

    background:var(--danger);

    color:white;

}